@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*define variáveis globais para cores e bordas,
facilitando a manutenção e ajustes futuros */
:root {
    --main-color: #da190f;
    --bg: #13131a;
    --bg-card: 0c0c14;
    --border: 0.1rem solid grey;
}

/**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize; /* LETRAS MAISCULAS*/
    transition: 0.2s linear; /*Transição habilitada por padrão*/
    font-family: 'Roboto', 'sans-serif';
    outline: none; /*Deixamos as caixas e informações sem contorno*/
}

html {
   font-size: 62.5%; /*configura o funt-size para 62.5%, facilitando o uso do rem (1rem = 10px)*/
   overflow-x: hidden; /*Evita rolagem horizontal. hidden (itens não estouram)*/
   scroll-behavior: smooth; /*Adiciona comportamento de rolagem suave*/
   scroll-padding-top: 9rem; /*é usado como aliado a o scroll-smooth para uma melhor visualização do scrool*/
}

html::-webkit-scroollbar {
    width: 0.8rem; /*Personaliza o estilo da barra de rolagem do Webkit*/
}
html::-webkit-scroollbar-track {
    background: transparent; /*personaliza o estilo da barra de rolagem no Webkit*/
}
html::-webkit-scroollbar-trumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg); /*Define o fundo da página com a variável*/
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3rem; /*Texto em caixa alta*/
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase; /*Texto em caixa alta*/
}

.btn {
    padding: 0.9rem 3rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    background: var(--main-color);
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.2rem; /*espaçamento entre as letras*/
}



/*herder*/

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header .logo img {
    height: 6.5rem;
    border-radius: 100%;
}

.header nav a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header nav a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color); /*adiciona uma linha inferior no hover*/
    padding-bottom: 0.5rem; /*adiciona espaçamento inferior no hover*/
}

.header .icons div ion-icon {
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}

.header .icons div ion-icon:hover {
    color: var(--main-color);
}

.icons { 
    display: flex;
    align-items: center;
}

#menu-btn {
    display: none; /*Ocutar o menu Hamburguer*/
}

/* Section Home*/

#home {
    position: relative; /*permite posicionamento relaivo*/
    min-height: 85vh; /*altura mínima da section*/
    display: flex; /*Tornando Flex*/
    align-items: center; /*centralizando verticalmente*/
    background: url(images/home.jpg); /*Adicionando a imagem de fundo*/
    background-size: cover;
    background-position: center;
    border-bottom: var(--border);
}

#home::before {
    content: ""; /*Adicionando pseudo-elemento vazio*/
    position: absolute; /*Permite posicionamento absoluto*/
    top: 0; /*alínar ao topo*/
    left: 0; /*alinha á esquerda*/
    width: 100%; /*ocupa toda a largura*/
    height: 100%; /*ocupa toda a altura*/
    background: rgba(0, 0, 0, 0.5); /*adicionando sobreposição escura */
    z-index: 1;  /*Posionando abaixo do conteúdo eixo z*/
}


.content {
    max-width: 60rem;
    position: relative;
    z-index: 2;
}

.content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.content p {
    font-size: 2rem;
    font-weight: lighter; /*peso da fonte mais leve*/
    line-height: 1.8; /*Espaçamento entre as linhas */
    padding: 1rem 0;
    color: #fff;
}


/* Section abaut*/

.row {
    display: flex;
    align-items: center;
    background: var(--bg-card);
    flex-wrap: wrap;
    border: var(--border);
}

.image {
    flex: 1 1 45rem; /*Define o tamanho flexível do elemento: base 45rem,pode crescer ou encolher*/
}

.row .image img {
    width: 100%;
}

.row .content {
    flex: 1 1 45rem; /*Define o tamanho flexível do elemento: base 45rem pode crescer ou encolher*/
    padding: 2rem;
}

.content h3 {
    font-size: 3rem;
    color: #fff;
}

.content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8rem;
}


.menu .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); /*Cria colunas flexíveis com larguras com largura mínima de 30rem e máxima proporcional*/
   gap: 1.5;
}

.box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
    background: var(--bg-card);
}

.box img {
    height: 18rem;
    border-radius: 100%;
}

.box h3 {
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.box .price span {
    font-size: 1.5rem;
    text-decoration: line-through; /*aplica uma linha para indicar preço riscado*/
    font-weight: lighter; /*aplica um peso de fonte mais fino*/ 
}

.box:hover {
    background: #fff;
}

.box:hover > * {
    color: black;
}

